[Unit]
Description=Enable Multicast on Loopback
[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/sbin/ip link set lo multicast on"
RemainAfterExit=true
[Install]
WantedBy=multi-user.target